/* styles/map.css */
html, body, #__next, .map-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .fullscreen-map {
    width: 100%;
    height: 100vh; /* Full viewport height */
  }